html {
box-sizing:border-box;
}

*,::before,::after {
box-sizing:inherit;
transition:all .3s;
}

html,body {
height:100%;
margin:0;
padding:0;
width:100%;
}

body {
font-family:Coda, cursive;
}

.container {
align-items:center;
display:flex;
flex-direction:column;
justify-content:center;
overflow:hidden;
}

.sliding-background {
animation:slide 360s linear infinite;
background:url(../img/geometry5.png) repeat-x;
background-repeat:repeat;
height:1150px;
position:absolute;
width:5076px;
z-index:-1;
}

100% {
transform:translate3d(-1692px,0,0);
}

.deck {
align-items:center;
background:linear-gradient(135deg,rgba(235,241,246,1) 0 50% 51% 100%;
border-radius:10px;
box-shadow:12px 15px 20px 0 rgba(46,61,73,0.5);
display:flex;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebf1f6',endColorstr='#d5ebfb',GradientType=1);
flex-wrap:wrap;
justify-content:space-between;
margin:0 0 3em;
min-height:680px;
padding:32px;
width:660px;
}

.deck .card {
align-items:center;
background:linear-gradient(135deg,rgba(235,241,246,1) 0 50% 51% 100%;
border-radius:8px;
box-shadow:5px 2px 20px 0 rgba(46,61,73,0.5);
color:#fff;
cursor:pointer;
display:flex;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebf1f6',endColorstr='#d5ebfb',GradientType=1);
font-size:0;
height:125px;
justify-content:center;
width:125px;
}

.deck .card.open {
background:linear-gradient(135deg,rgba(235,241,246,1) 0 50% 51% 100%;
box-shadow:none;
cursor:default;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebf1f6',endColorstr='#d5ebfb',GradientType=1);
transform:rotate(2deg);
}

.deck .card.show {
-moz-animation:spin 4s linear infinite;
-webkit-animation:spin 4s linear infinite;
animation:spin 4s linear infinite;
border-style:ridge;
font-size:53px;
}

.deck .card.match {
-moz-animation:none;
-moz-transform-style:preserve-3d;
-webkit-animation:none;
-webkit-transform-style:preserve-3d;
animation:none;
background:linear-gradient(135deg,rgba(252,234,187,1) 0 50% 51% 100%;
cursor:default;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceabb',endColorstr='#fbdf93',GradientType=1);
font-size:33px;
outline:12px double transparent;
}

h1,.score-panel {
background:#7e7a7aa1;
border-radius:25px;
color:#0ac7f1;
margin:.5em;
padding:0 12px;
}

.score-panel {
border-style:ridge;
position:absolute;
text-align:left;
top:79px;
}

.score-panel .stars {
display:inline-block;
margin:0 5px 0 0;
padding:0;
}

.score-panel .stars li {
display:inline-block;
list-style:none;
}

.score-panel .restart {
cursor:pointer;
float:right;
margin-left:1.2em;
}